<mat-grid-list cols="1" rowHeight="50px" style="background: #f3f3f3;
    color: #9a9a9a;">
    <mat-grid-tile colspan="1" rowspan="1">
        <h5>(router-outlet для дочерних компонентов находится внизу страницы)</h5>
    </mat-grid-tile>
</mat-grid-list>
<div class="container">
    <div class="row justify-content-center">
        <h4>Пример логики повтора запросов при определенных условиях</h4>
        <p>
            <code>Метод fetchData() в datafetcher.service.ts</code>
            <br>В этом примере обращаемся к API и проверяем, что массив starships в полученном JSON не пуст.
            <br>В противном случае повторяем запрос еще 2 раза, при этом, на третьей попытке endpoint подменяется, чтобы возвращался JSON, который проходит проверку
        </p>
        <button routerLink="repeat" mat-button color="primary">Загрузить</button>
    </div>
    <hr>
    <div class="row justify-content-center">
        <h4>Пример логики последовательных запросов</h4>
        <p>
            <code>Метод mergeRequests() в datafetcher.service.ts</code>
            <br>В этом примере для загрузки данных компонента будет выполнено два запроса, при этом во втором запросе будут использоваться данные из первого.
            <br>В инпуте ниже можно ввести ID, он будет передан резолверу. По ID будет подгружен URL: https://swapi.co/api/people/ [ ID ], затем из полученного JSON будет взят URL, который содержится в проперти "homeworld"<br>В итоге в компоненте будут отображены данные из второго запроса
        </p>
        <form [formGroup]="form" (ngSubmit)="submitForm()">
            <mat-form-field appearance="legacy">
                <mat-label>Введите ID</mat-label>
                <input type="number" class="form-control" formControlName="id" required="true" matInput>
            </mat-form-field>
            <button mat-button color="primary" [disabled]="form.invalid">Загрузить</button>
        </form>
    </div>

    <div style="background: #eee">
        <router-outlet></router-outlet>
    </div>
</div>
