<div class="container">
    <div class="row">
        <div class="jumbotron justify-content-center">
            <h1>Привет!</h1>
            <p>Это зона, в которую будут подгружаться дочерние компоненты</p>
            <hr>
            <p>Над этим компонентом в разметке находится <code>&lt;router-outlet&gt;&lt;/router-outlet&gt;</code></p>
            <p>
                Для начала, можно <button mat-button color="primary" style="background: rebeccapurple; color: whitesmoke" routerLink="/table-component">переключиться</button> на компонент с таблицей
            </p>
        </div>
    </div>
</div>
