<!-- Footer -->
<footer>
    <mat-grid-list cols="1" rowHeight="100px" style="background: black; color: white;">
        <mat-grid-tile colspan="1" rowspan="1">
            <h4>{{ title }}</h4>
        </mat-grid-tile>
    </mat-grid-list>
</footer>
