<ng-container>
    <div *ngIf="errors else displayHint">
        <div *ngFor="let error of errors | keyvalue">
            <div *ngIf="errorMessages[error.key] else displayHint">
                <mat-hint class="hint error">{{ errorMessages[error.key] }}</mat-hint>
            </div>
        </div>
    </div>
    <ng-template #displayHint>
        <mat-hint class="hint">{{ hint }}</mat-hint>
    </ng-template>
</ng-container>
