<header class="bg-primary text-white">
    <mat-grid-list cols="1" rowHeight="100px" style="background: mediumpurple; color: white;">
        <mat-grid-tile colspan="1" rowspan="1">
            <h1>{{ title }}</h1>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <p>сейчас роутер отображает <mark>{{ componentTitle }}</mark></p>
        </mat-grid-tile>
    </mat-grid-list>
</header>
