<h1 mat-dialog-title>Attention</h1>
<div mat-dialog-content>
    <div class="justify-content-center">
        <p>You're going to be logged out in</p>
        <h3>{{ timerLabel }}</h3>
        <p>seconds</p>
    </div>
    <p>Do you want to stay logged in?</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="keepMeIn()">Yes, keep me in</button>
    <button mat-button (click)="logout()" class="mat-primary">Logout</button>
</div>