<section *ngIf="article">
    <div class="container">
        <div class="row">
            <button type="button" routerLink="/articles-component" class="btn btn-secondary" style="font-size: 35px;">&laquo;</button>
            <div class="col-lg-8 mx-auto">
                <h2>{{ article.Title }}</h2>
                <h6 class="card-subtitle mb-2 text-muted">Опубликовано: {{ article.PublishDate | date : 'medium' : '' : 'ru-RU' }}</h6>
                <p class="lead">{{ article.Description }}</p>
                <p>{{ article.Description }}</p>
                <ul>
                    <li>Clickable nav links that smooth scroll to page sections</li>
                    <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                    <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                    <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                </ul>
            </div>
        </div>
    </div>
</section>