<div class="container">
    <div class="row">
        <div *ngIf="error else displayData">
            <h1>Sorry, an error has occurred:</h1>
            <p>{{ error.detail }}</p>
        </div>
        <ng-template #displayData>
            <ul>
                <li *ngFor="let item of data | keyvalue">
                    {{ item.key }}: {{ item.value }}
                </li>
            </ul>
        </ng-template>
    </div>
</div>
