<app-navigation></app-navigation>
<app-header [componentTitle]="currentComponentTitle"></app-header>
<div *ngIf="loading" class="container">
    <div class="row justify-content-center">
        <div class="loader">Loading...</div>
    </div>
</div>
<div [style.display]="loading ? 'none' : 'block'">
    <router-outlet (activate)='onRouterActivatedComponent($event)'></router-outlet>
</div>
<app-footer></app-footer>
