<mat-grid-list cols="1" rowHeight="100px" style="background: white;">
    <mat-grid-tile colspan="1" rowspan="3">
        <form [formGroup]="form" class="col-lg-8 mx-auto" (ngSubmit)="submitForm()" autocomplete="off" style="width: 300px;">
            <fieldset style="border: 0">
                <ng-container *ngIf="{ control: form.get('username') } as ctx">
                    <div class="form-group">
                        <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Имя пользователя</mat-label>
                            <input id="username" type="text" class="form-control" required="true" formControlName="username" matInput>
                            <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>
                        <app-form-field [errors]="ctx.control.errors" [errorMessages]="fieldMessages.username.errors" [hint]=""></app-form-field>
                    </div>
                </ng-container>
                <ng-container *ngIf="{ control: form.get('password') } as ctx">
                    <div class="form-group">
                        <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Пароль</mat-label>
                            <input id="password" type="password" class="form-control" required="true" formControlName="password" matInput>
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                        <app-form-field [errors]="fieldMessages.username.errors" [errorMessages]="fieldMessages.password.errors" [hint]=""></app-form-field>
                    </div>
                </ng-container>
                <button type="submit" mat-button color="primary" [disabled]="form.invalid">Войти</button>
            </fieldset>
        </form>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" style="background-color: mediumpurple; color: white;">
        <strong>Валидные юзеры:</strong>
        <ul>
            <li>admin : 123</li>
            <li>guest : fbs</li>
        </ul>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <p>При успешной авторизации в cookie записывается рандомный токен, в консоли есть лог</p>
    </mat-grid-tile>
</mat-grid-list>
