<div class="container">
    <div class="row justify-content-center">
        <div *ngFor="let article of articles" style="margin: 20px;">
            <mat-card class="article-card">
                <mat-card-header>
                    <mat-card-title>{{ article.Title }}</mat-card-title>
                    <mat-card-subtitle>Опубликовано: {{ article.PublishDate | date : 'medium' : '' : 'ru-RU' }}</mat-card-subtitle>
                    <mat-card-subtitle>Страниц: {{ article.PageCount }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{ article.Description | slice: 0: 200}}...
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="mat-primary" routerLink="/articles-component/{{ article.ID }}">Открыть</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>