<mat-grid-list cols="1" rowHeight="150px" style="background: white;">
    <mat-grid-tile colspan="1" rowspan="2">
        <form [formGroup]="form" (ngSubmit)="submitForm()" autocomplete="off" style="width: 350px;">
            <fieldset style="border: 0;">
                <ng-container *ngIf="{ control: form.get('email') } as ctx">
                    <div class="form-group">
                        <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Email</mat-label>
                            <input id="email" type="email" class="form-control" required="true" formControlName="email" matInput>
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                        <app-form-field [errors]="ctx.control.errors" [errorMessages]="fieldMessages.email.errors" [hint]="fieldMessages.email.hint"></app-form-field>
                    </div>
                </ng-container>
                <ng-container *ngIf="{ control: form.get('deposit') } as ctx">
                    <div class="form-group">
                        <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Сумма</mat-label>
                            <input id="deposit" type="number" min="1" max="500" class="form-control" required="true" formControlName="deposit" matInput>
                            <mat-icon matSuffix>money</mat-icon>
                        </mat-form-field>
                        <app-form-field [errors]="ctx.control.errors" [errorMessages]="fieldMessages.deposit.errors" [hint]="fieldMessages.deposit.hint"></app-form-field>
                    </div>
                </ng-container>
                <button type="submit" mat-button color="primary" [disabled]="form.invalid || submitted != undefined">Deposit</button>
            </fieldset>
        </form>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" style="color: mediumpurple">
        <div>
            <strong>Здесь появится JSON после сабмита формы</strong>
            {{ submitted }}
        </div>
    </mat-grid-tile>
</mat-grid-list>
