<!--&lt;!&ndash; Navigation &ndash;&gt;-->
<!--<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background: white; box-shadow: 0 0 10px rgba(0,0,0,0.5);">-->
<!--    <div class="container">-->
<!--        <a class="navbar-brand js-scroll-trigger" href="#" style="background: black; padding: 10px; border-radius: 5px;">{{ title }}</a>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <ul class="nav nav-tabs">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" data-toggle="tab" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" routerLink="/table-component" routerLinkActive="active">Table component</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" routerLink="/form-component" routerLinkActive="active">Form component</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" routerLink="/articles-component" routerLinkActive="active">Articles component</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" routerLink="/about-component" routerLinkActive="active">About component</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <span (click)="logout()" *ngIf="authService.currentUser" class="badge badge-danger">Logout</span>-->
<!--    </div>-->
<!--</nav>-->
<nav>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-button routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><mat-icon aria-hidden="false">home</mat-icon> Home</button>
            <button mat-button routerLink="/table-component" routerLinkActive="active">Table component</button>
            <button mat-button routerLink="/form-component" routerLinkActive="active">Form component</button>
            <button mat-button routerLink="/articles-component" routerLinkActive="active">Articles component</button>
            <button mat-button routerLink="/about-component" routerLinkActive="active">About component</button>
            <button mat-button routerLink="/datafetcher-component" routerLinkActive="active">DataFetcher component</button>
            <span style="flex: 1 1 auto;"></span>
            <button (click)="logout()" *ngIf="authService.currentUser" style="background: darkred;" mat-button><mat-icon aria-hidden="false">clear</mat-icon> Logout</button>
        </mat-toolbar-row>
    </mat-toolbar>
</nav>
