<div class="container">
    <div class="row">
        <table mat-table [dataSource]="posts" class="mat-elevation-z8" style="width: 100%">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let post"> {{ post.id }} </td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let post"> {{ post.title }} </td>
            </ng-container>

            <ng-container matColumnDef="body">
                <th mat-header-cell *matHeaderCellDef> Body </th>
                <td mat-cell *matCellDef="let post"> {{ post.body }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['id', 'title', 'body'];"></tr>
            <tr mat-row *matRowDef="let row; columns: ['id', 'title', 'body'];"></tr>
        </table>
    </div>
</div>